
$backgrounddark:#3F3F3F;
$backgroundcolor: white;
$colorDark:#3F3F3F;
$colorYellow:#eac960;
$themecolorBlue:#57A0AA;  
$themecolorMauve: #AA57A0;
$themecolorGreen:#A0AA57;
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	h2{
		color: $backgroundColorSticker;
	}

}
