
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eac960;
}
.navagation {
  background-color: #3F3F3F;
}
.page-link {
  background-color: #3F3F3F;
  color: #eac960;
}
.navbar-light .navbar-nav .nav-link .navbar-brand {
  color: #eac960;
}
.navbar-light .navbar-nav .nav-link {
  color: #eac960;
}
.navbar-light .navbar-brand {
  color: #eac960;
}
.page-item.active .page-link {
  color: #3F3F3F;
  background-color: #eac960;
}
body h2 {
  color:#3F3F3F;
  background-color:rgb(87, 160, 170);
  margin: 8px 0px;
  padding: 2px;
}
.row{
  margin-top: 25px;
}
P{
  background-color:#3F3F3F;
}
button{
  cursor: pointer;
}
.col-sm-12 p{
  text-align: justify;
  text-justify: inter-word;
}
.schedule{
  height: 392px;
  padding-top: 15%;
}
